/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-custom-gradient {
    background: linear-gradient(
      338deg,
      rgba(241, 241, 242, 1) 0%,
      rgba(32, 118, 189, 1) 50%,
      rgba(24, 45, 88, 1) 100%
    );
  }

  .bg-linear-gradient {
    background: linear-gradient(
      180deg,
      /* Top to bottom */ #ffffff 2%,
      /* White */ #edf6fd 60%,
      /* Light blue */ #91c9f6 98% /* Deeper blue */
    );
  }

  /* Spinner animation */
  .loader {
    border-top-color: #2563eb; /* Tailwind blue-600 */
  }
}

@keyframes shake {
  0%, 100% { transform: translateX(0); }
  25% { transform: translateX(-2px); }
  75% { transform: translateX(2px); }
}

/* .animate-\[shake_0.3s_ease-in-out_2\] {
  animation: shake 0.3s ease-in-out 2;
} */

.react-datepicker-popper {
  z-index: 9999 !important;
}


th {
  user-select: none;
}

th:active,
th:focus {
  background-color: inherit !important;
  outline: none !important;
}

.modal-overlay {
  animation: fadeIn 0.3s ease forwards;
}

.modal-content {
  animation: scaleIn 0.3s ease forwards;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes scaleIn {
  from {
    opacity: 0;
    transform: scale(0.96);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: scale(1);
  }
}
